section{
	padding: 80px 0;
}

.image__cover{
	width: 100%;
	object-fit: cover;
}
.textarea__height{
	height: 150px !important;
}

.line__right::after{
	content: "";
	position: absolute;
	border: 0.5px solid #eaeaea;
	height: 100%;
	right: 0;
	top: 0;
}

.card__todo{
	background-color: #f8f9fa;
	border-radius: 5px;
}

.content__todo{
	background-color: white;
	border-radius: 5px;
}

.card__todo p{
	font-size: 14px;
	opacity: .6;
}

.date__todo{
	font-size: 14px;
	opacity: .5;
}